<form id="sign-up-form" {{action 'createUser' on="submit"}} class="form-signin">
	<h2 class="form-signin-heading">Create an account</h2>
	
	<div class="control-group">
	{{input type="text" class="form-control" placeholder="your name" name="name" value=name}}
	</div>

	<div class="control-group">
	{{!-- {{input type="text" class="form-control" placeholder="colour" name="colour" value=colour}} --}}
		<div class="dropdown">
	    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: black;">{{#unless boolC}}Colour{{/unless}} {{#if boolC}}{{colour}}{{/if}}
	    <span class="caret"></span></button>
	    <ul class="dropdown-menu">
	      <li><button class='btn btn-link' {{action 'set' 'red'}}>Red</button></li>
	      <li><button class='btn btn-link' {{action 'set' 'yellow'}}>Yellow</button></li>
	      <li><button class='btn btn-link' {{action 'set' 'green'}}>Green</button></li>
	    </ul>
	  	</div>
	  	<br/>
	</div>
	
	<div class="control-group">
	{{input type="text" class="form-control" placeholder="email address" name="email" value=email}}
	</div>

	<div class="control-group">
	{{input type="text" class="form-control" placeholder="username" name="username" value=username}}
	</div>

	<div class="control-group">
	{{input type="password" class="form-control" placeholder="password" name="password" id="password" value=password}}
	</div>

	<div class="control-group">
	{{input type="password" class="form-control" placeholder="password confirmation" name="confirmation"}}
	<br />
	</div>

	{{!-- <div class="control-group">
		<div class="dropdown">
	    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Colour
	    <span class="caret"></span></button>
	    <ul class="dropdown-menu">
	      <li><button class='btn btn-link' {{action 'set' 'red'}}>Red</button></li>
	      <li><button class='btn btn-link' {{action 'set' 'yellow'}}>Yellow</button></li>
	      <li><button class='btn btn-link' {{action 'set' 'green'}}>Green</button></li>
	    </ul>
	  	</div>
	</div> --}}
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account" />
</form>