<form id="sign-up-form" {{action 'createUser' on="submit"}} class="form-signin">
	<h2 class="form-signin-heading">Create an account</h2>
	
	<div class="control-group">
	{{input type="text" class="form-control" placeholder="your name" name="name" value=name}}
	</div>

	<div class="control-group">
	{{!-- {{input type="text" class="form-control" placeholder="colour" name="colour" value=colour}} --}}
		<div class="dropdown">
	    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: {{colour_to_show}}; color: {{text_colour}}">{{#unless boolC}}Colour{{/unless}} {{#if boolC}}{{colour}}{{/if}}
	    <span class="caret"></span></button>
	    <ul class="dropdown-menu">
	      <li style="background-color: #B8D430"><button class='btn btn-link t' {{action 'set' 'Light Green'}}>Light Green</button></li>
	      <li style="background-color: #3AB745"><button class='btn btn-link t' {{action 'set' 'Dark Green'}}>Dark Green</button></li>
	      <li style="background-color: #029990"><button class='btn btn-link t' {{action 'set' 'Teal'}}>Teal</button></li>
	      <li style="background-color: #3501CB"><button class='btn btn-link t' {{action 'set' 'Blue'}} >Blue</button></li>
	      <li style="background-color: #2E2C75"><button class='btn btn-link t' {{action 'set' 'Dark Blue'}}>Dark Blue</button></li>
	      <li style="background-color: #673A7E"><button class='btn btn-link t' {{action 'set' 'Purple'}}>Purple</button></li>
	      <li style="background-color: #CC0071"><button class='btn btn-link t' {{action 'set' 'Magenta'}}>Magenta</button></li>
	      <li style="background-color: #F80120"><button class='btn btn-link t' {{action 'set' 'Red'}}>Red</button></li>
	      <li style="background-color: #F35B20"><button class='btn btn-link t' {{action 'set' 'Orange'}}>Orange</button></li>
	      <li style="background-color: #FB9A00"><button class='btn btn-link t' {{action 'set' 'Light Orange'}}>Light Orange</button></li>
	      <li style="background-color: #FFCC00"><button class='btn btn-link t' {{action 'set' 'Mango Yellow'}}>Mango Yellow</button></li>
	      <li  style="background-color: #FEF200"><button class='btn btn-link t' {{action 'set' 'Yellow'}}>Yellow</button></li>
	    </ul>
	  	</div>
	  	<br/>
	</div>
	
	<div class="control-group">
	{{input type="text" class="form-control" placeholder="email address" name="email" value=email}}
	</div>

	<div class="control-group">
	{{input type="text" class="form-control" placeholder="username" name="username" value=username}}
	</div>

	<div class="control-group">
	{{input type="password" class="form-control" placeholder="password" name="password" id="password" value=password}}
	</div>

	<div class="control-group">
	{{input type="password" class="form-control" placeholder="password confirmation" name="confirmation"}}
	<br />
	</div>

	{{!-- <div class="control-group">
		<div class="dropdown">
	    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Colour
	    <span class="caret"></span></button>
	    <ul class="dropdown-menu">
	      <li><button class='btn btn-link' {{action 'set' 'red'}}>Red</button></li>
	      <li><button class='btn btn-link' {{action 'set' 'yellow'}}>Yellow</button></li>
	      <li><button class='btn btn-link' {{action 'set' 'green'}}>Green</button></li>
	    </ul>
	  	</div>
	</div> --}}
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account" />
</form>